.parent{
    display: flex;
    background-color:#557153;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.logo{
    height: 100%;
}

.logoImg{
    padding-top: 10px;
    height: 120px;
    width: 140px;
}

.listaRedes{
    margin-right: 30px;
    display:flex;
    flex-direction: row;
    list-style: none;
}

.logoRedes{
    height: 40px;
    width:40px;
    padding: 20px;
    color:black;
}

