.itemCart{
    display: flex;
    width: 75%;
    height: 250px;
    margin: 2rem auto;
    border: 2px solid black;
    max-width: 500px;
    padding-top: 20px;
    background-color: white;
    border-radius: 15px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.itemCart img {
    width: 200px;
    margin-right: 2rem;
    height: 200px;
}

.boton{
    background-color: #A9AF7E;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
    height: 35px;
    transition: all 0.3s;
    border-color: transparent;
    border-radius: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.boton:hover{
    background-color: #E6E5A3;
}