div {
    background-color: cornsilk;
    border: 5px solid aquamarine;
    border-radius: 5px;
}

#formulario {
    width: 100%;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form * {
    margin: 5px;
}

.form .botonesInput {
    width: 150px;
    margin: 5px;
    border: none;
    background: rgb(100, 200, 255);
    cursor: pointer;
}

.form .botonesInput:hover {
    transform: scale(1.25);
    background: rgb(250, 200, 255);
}

.form input {
    width: 50%;
    height: 20px;
}