.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
    margin-top: 50px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* ESTILOS FORMULARIO */
.contenedor {
    
    background-color: cornsilk;
    border: 5px solid aquamarine;
    border-radius: 5px;
}

#formulario {
    color:#282c34;
    width: 700px;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form * {
    margin: 5px;
}

.form .botonesInput {
    width: 150px;
    margin: 5px;
    border: none;
    background: rgb(100, 200, 255);
    cursor: pointer;
}

.form .botonesInput:hover {
    transform: scale(1.25);
    background: rgb(250, 200, 255);
}

.form input {
    width: 50%;
    height: 20px;
}