.App {
  text-align: center;
  background-color: #7D8F69;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #7D8F69;
  min-height: 95vh;
}

.App-link {
  color: #61dafb;
}




