.containerCantidad {
  display: flex;
    margin: 10px;
    justify-content: space-around;

    width: 90%;
    flex-direction: row;
    align-content: stretch;
    align-items: center;
    border: 2px solid #39723D;
    border-radius: 5px;
    flex-wrap: wrap;
}


.contenedorContador{
  width: 350px;
  border-top: 1px solid black;
}

.botonRestar:disabled,
.botonRestar:enabled,
.botonSumar:disabled,
.botonSumar:enabled,
.botonCarrito {
  border-color: transparent;
}

.botonRestar, .botonSumar {
  height:30px;
  width: 125px;
  background-color: white;
  border-radius: 5px;
}

.botonRestar:hover {

  border-color: transparent;
  background-color: #f08aa7;
}

.botonCarrito:hover {

  border-color: transparent;
  background-color: #A9AF7E;
}

.botonSumar:hover {

  border-color: transparent;
  background-color: #9ab99c;
}


.botonCarrito{
  margin-top: 8px;
  margin-bottom: 4px;
  height:30px;
  width: 125px;
  background-color: white;
  border-radius: 5px;
}

.icono {
  width: 25px;
  color: black;
}
